//font-family
.ff-apple {
	font-family: $ff-apple;
	button,input,textarea,select {
		font-family: $ff-apple;
	} 	
}
.ff-helvetica {
	font-family: $ff-helvetica;
	button,input,textarea,select {
		font-family: $ff-helvetica;
	} 	
}
.ff-noto {
	font-family: $ff-noto;
	button,input,textarea,select {
		font-family: $ff-noto;
	} 	
}
//font-size
.fz-mobile--primary {
	font-size: 13px;
	h1{font-size: 32px;}//line-height: 1.25}
	h2{font-size: 26px;}//line-height: 1.153;}
	h3{font-size: 22px;}//line-height: 1.136;}
	h4{font-size: 18px;}//line-height: 1.11;}
	h5{font-size: 14px;}//line-height: 1;}
	h6{font-size: 12px;}//line-height: 1;}
}
/*font-weight*/
.fw-mobile--primary {
	font-weight: 200;
	h1,h2,h3,h4,h5,h6{font-weight: 100;}
}