.f-h100 {height: 100%;}
.f-w100 {width: 100%;}
/*
//浮动与清除浮动
*/
.f-fl{float: left;}
.f-fr{float: right;}
.f-cf:before, .f-cf:after {content: "";display: table;}
.f-cf:after {clear: both;}
.f-cf {zoom: 1;}

/*
text-align
 */
.f-tc{text-align: center;}
.f-tl{text-align: left;}
.f-tr{text-align: right;}
/*
border-radius:0;
 */
.f-br0{border-radius: 0 !important;}
/*
border
 */
.f-b0{border: none;}
.f-bb0 {border-bottom: none !important;}
/*font-size*/
.f-fz14{font-size: 14px;}
.f-fz16{font-size: 16px;}
/*font-weight*/
.f-fw100{font-weight: 100;}
.f-fw200{font-weight: 200;}
.f-fw300{font-weight: 300;}
.f-fw400{font-weight: 400;}
/*display*/
.f-dib{display: inline-block;}
.f-db{display: block;}
.f-dn{display: none;}
/*posistion*/
.f-pa{position: absolute;}
.f-pr{position: relative;}
.f-pf{position: fixed;}
/*box-sizing*/
.f-bsbb{box-sizing:boder-box;}
.f-bscb{box-sizing:content-box;}
/*margin-padding*/
.f-m0{margin: 0;}
.f-mt0{margin-top: 0;}
.f-mr0{margin-right: 0;}
.f-mb0{margin-bottom: 0;}
.f-ml0{margin-left: 0;}
.f-p0{padding: 0;}
.f-pt0{padding-top: 0;}
.f-pr0{padding-right: 0;}
.f-pb0{padding-bottom: 0;}
.f-pl0{padding-left: 0;}