@charset "UTF-8";
/*
breakpoint
*/
/*
grid
*/
/*
color
 */
/*font-family*/
/*font-size*/
/*font-weight*/
/*
//position属性
*/
.f-pr {
  position: relative; }

.f-pa {
  position: absolute; }

.f-pf {
  position: fixed; }

/*
//display属性
//全加important
//无响应式(手机端优先)
*/
.f-di {
  display: inline !important; }

.f-dib {
  display: inline-block !important; }

.f-db {
  display: block !important; }

.f-dn {
  display: none !important; }

/*
//浮动与清除浮动
*/
.f-fl {
  float: left; }

.f-fr {
  float: right; }

.f-cf:before, .f-cf:after {
  content: "";
  display: table; }

.f-cf:after {
  clear: both; }

.f-cf {
  zoom: 1; }

/*
//高度与宽度的(百分比表示)
*/
.f-w100 {
  width: 100%; }

.f-w90 {
  width: 90%; }

.f-w80 {
  width: 80%; }

.f-w70 {
  width: 70%; }

.f-w60 {
  width: 60%; }

.f-w50 {
  width: 50%; }

.f-w40 {
  width: 40%; }

.f-w30 {
  width: 30%; }

.f-w20 {
  width: 20%; }

.f-w10 {
  width: 10%; }

.f-w0 {
  width: 0%; }

.f-wauto {
  width: auto; }

.f-h100 {
  height: 100%; }

.f-h50 {
  height: 50%; }

.f-h0 {
  height: 0%; }

.f-hauto {
  height: auto; }

/*
//margin padding
*/
.f-m0 {
  margin: 0; }

.f-mt0 {
  margin-top: 0; }

.f-mr0 {
  margin-right: 0; }

.f-mb0 {
  margin-bottom: 0; }

.f-ml0 {
  margin-left: 0; }

.f-m05 {
  margin: .5em; }

.f-mt05 {
  margin-top: .5em; }

.f-mr05 {
  margin-right: .5em; }

.f-mb05 {
  margin-bottom: .5em; }

.f-ml05 {
  margin-left: .5em; }

.f-m1 {
  margin: 1em; }

.f-mt1 {
  margin-top: 1em; }

.f-mr1 {
  margin-right: 1em; }

.f-mb1 {
  margin-bottom: 1em; }

.f-ml1 {
  margin-left: 1em; }

.f-p0 {
  padding: 0; }

.f-pt0 {
  padding-top: 0; }

.f-pr0 {
  padding-right: 0; }

.f-pb0 {
  padding-bottom: 0; }

.f-pl0 {
  padding-left: 0; }

.f-p05 {
  padding: .5em; }

.f-pt05 {
  padding-top: .5em; }

.f-pr05 {
  padding-right: .5em; }

.f-pb05 {
  padding-bottom: .5em; }

.f-pl05 {
  padding-left: .5em; }

.f-p1 {
  padding: 1em; }

.f-pt1 {
  padding-top: 1em; }

.f-pr1 {
  padding-right: 1em; }

.f-pb1 {
  padding-bottom: 1em; }

.f-pl1 {
  padding-left: 1em; }

/*
//font-size
*/
.f-fz16 {
  font-size: 16px; }

.f-fz15 {
  font-size: 15px; }

.f-fz14 {
  font-size: 14px; }

.f-fz13 {
  font-size: 13px; }

.f-fz12 {
  font-size: 12px; }

.f-fz100 {
  font-size: 100%; }

.f-fz90 {
  font-size: 90%; }

.f-fz80 {
  font-size: 80%; }

.f-fz70 {
  font-size: 70%; }

.f-fz60 {
  font-size: 60%; }

/*
//font-weight
*/
.f-fw100 {
  font-weight: 100; }

.f-fw200 {
  font-weight: 200; }

.f-fw300 {
  font-weight: 300; }

.f-fw400 {
  font-weight: 400; }

/*
//color
*/
.f-c0 {
  color: #000; }

.f-c3 {
  color: #333; }

.f-c6 {
  color: #666; }

.f-c9 {
  color: #999; }

.f-cw {
  color: white; }

.f-cb {
  color: black; }

.f-cr {
  color: red; }

/*
//bg-color
*/
.f-bgw {
  background: white; }

.f-bgb {
  background: black; }

.f-bgr {
  background: red; }

/*
//text-align控制
*/
.f-tl {
  text-align: left; }

.f-tr {
  text-align: right; }

.f-tc {
  text-align: center; }

/*
//vertical控制
*/
.f-vt {
  vertical-align: top; }

.f-vb {
  vertical-align: bottom; }

.f-vm {
  vertical-align: middle; }

.f-v1 {
  vertical-align: 1px; }

/*
//border-radius:0;
*/
.f-br0 {
  border-radius: 0 !important; }

.f-br4 {
  border-radius: 4px !important; }

/*
//border
*/
.f-b0 {
  border: none; }

.f-bt0 {
  border-top: none !important; }

.f-br0 {
  border-right: none !important; }

.f-bb0 {
  border-bottom: none !important; }

.f-bl0 {
  border-left: none !important; }

/*
//杂项
*/
.f-bt {
  border: 1px solid #333; }

/*
响应式
 */
@media (min-width: 550px) {
  .f-dibsm {
    display: inline-block !important; }

  .f-dbsm {
    display: block !important; }

  .f-dnsm {
    display: none !important; }

  .f-tlsm {
    text-align: left !important; }

  .f-tcsm {
    text-align: center !important; }

  .f-trsm {
    text-align: right !important; } }
@media (min-width: 1000px) {
  .f-dibmd {
    display: inline-block !important; }

  .f-dbmd {
    display: block !important; }

  .f-dnmd {
    display: none !important; }

  .f-tlmd {
    text-align: left !important; }

  .f-tcmd {
    text-align: center !important; }

  .f-trmd {
    text-align: right !important; } }
@media (min-width: 1400px) {
  .f-diblg {
    display: inline-block !important; }

  .f-dblg {
    display: block !important; }

  .f-dnlg {
    display: none !important; }

  .f-tllg {
    text-align: left !important; }

  .f-tclg {
    text-align: center !important; }

  .f-trlg {
    text-align: right !important; } }
.g-row {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  zoom: 1; }
  .g-row:before, .g-row:after {
    content: "";
    display: table; }
  .g-row:after {
    clear: both; }

.g-col {
  position: relative;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  float: left;
  box-sizing: border-box;
  background-clip: content-box; }

.g-col-1 {
  width: 8.33333%; }

.g-offset-1 {
  margin-left: 8.33333%; }

.g-col-2 {
  width: 16.66667%; }

.g-offset-2 {
  margin-left: 16.66667%; }

.g-col-3 {
  width: 25%; }

.g-offset-3 {
  margin-left: 25%; }

.g-col-4 {
  width: 33.33333%; }

.g-offset-4 {
  margin-left: 33.33333%; }

.g-col-5 {
  width: 41.66667%; }

.g-offset-5 {
  margin-left: 41.66667%; }

.g-col-6 {
  width: 50%; }

.g-offset-6 {
  margin-left: 50%; }

.g-col-7 {
  width: 58.33333%; }

.g-offset-7 {
  margin-left: 58.33333%; }

.g-col-8 {
  width: 66.66667%; }

.g-offset-8 {
  margin-left: 66.66667%; }

.g-col-9 {
  width: 75%; }

.g-offset-9 {
  margin-left: 75%; }

.g-col-10 {
  width: 83.33333%; }

.g-offset-10 {
  margin-left: 83.33333%; }

.g-col-11 {
  width: 91.66667%; }

.g-offset-11 {
  margin-left: 91.66667%; }

.g-col-12 {
  width: 100%; }

.g-offset-12 {
  margin-left: 100%; }

@media (min-width: 550px) {
  .g-col-sm-1 {
    width: 8.33333%; }

  .g-offset-sm-1 {
    margin-left: 8.33333%; }

  .g-col-sm-2 {
    width: 16.66667%; }

  .g-offset-sm-2 {
    margin-left: 16.66667%; }

  .g-col-sm-3 {
    width: 25%; }

  .g-offset-sm-3 {
    margin-left: 25%; }

  .g-col-sm-4 {
    width: 33.33333%; }

  .g-offset-sm-4 {
    margin-left: 33.33333%; }

  .g-col-sm-5 {
    width: 41.66667%; }

  .g-offset-sm-5 {
    margin-left: 41.66667%; }

  .g-col-sm-6 {
    width: 50%; }

  .g-offset-sm-6 {
    margin-left: 50%; }

  .g-col-sm-7 {
    width: 58.33333%; }

  .g-offset-sm-7 {
    margin-left: 58.33333%; }

  .g-col-sm-8 {
    width: 66.66667%; }

  .g-offset-sm-8 {
    margin-left: 66.66667%; }

  .g-col-sm-9 {
    width: 75%; }

  .g-offset-sm-9 {
    margin-left: 75%; }

  .g-col-sm-10 {
    width: 83.33333%; }

  .g-offset-sm-10 {
    margin-left: 83.33333%; }

  .g-col-sm-11 {
    width: 91.66667%; }

  .g-offset-sm-11 {
    margin-left: 91.66667%; }

  .g-col-sm-12 {
    width: 100%; }

  .g-offset-sm-12 {
    margin-left: 100%; } }
@media (min-width: 1000px) {
  .g-col-md-1 {
    width: 8.33333%; }

  .g-offset-md-1 {
    margin-left: 8.33333%; }

  .g-col-md-2 {
    width: 16.66667%; }

  .g-offset-md-2 {
    margin-left: 16.66667%; }

  .g-col-md-3 {
    width: 25%; }

  .g-offset-md-3 {
    margin-left: 25%; }

  .g-col-md-4 {
    width: 33.33333%; }

  .g-offset-md-4 {
    margin-left: 33.33333%; }

  .g-col-md-5 {
    width: 41.66667%; }

  .g-offset-md-5 {
    margin-left: 41.66667%; }

  .g-col-md-6 {
    width: 50%; }

  .g-offset-md-6 {
    margin-left: 50%; }

  .g-col-md-7 {
    width: 58.33333%; }

  .g-offset-md-7 {
    margin-left: 58.33333%; }

  .g-col-md-8 {
    width: 66.66667%; }

  .g-offset-md-8 {
    margin-left: 66.66667%; }

  .g-col-md-9 {
    width: 75%; }

  .g-offset-md-9 {
    margin-left: 75%; }

  .g-col-md-10 {
    width: 83.33333%; }

  .g-offset-md-10 {
    margin-left: 83.33333%; }

  .g-col-md-11 {
    width: 91.66667%; }

  .g-offset-md-11 {
    margin-left: 91.66667%; }

  .g-col-md-12 {
    width: 100%; }

  .g-offset-md-12 {
    margin-left: 100%; } }
@media (min-width: 1400px) {
  .g-col-lg-1 {
    width: 8.33333%; }

  .g-offset-lg-1 {
    margin-left: 8.33333%; }

  .g-col-lg-2 {
    width: 16.66667%; }

  .g-offset-lg-2 {
    margin-left: 16.66667%; }

  .g-col-lg-3 {
    width: 25%; }

  .g-offset-lg-3 {
    margin-left: 25%; }

  .g-col-lg-4 {
    width: 33.33333%; }

  .g-offset-lg-4 {
    margin-left: 33.33333%; }

  .g-col-lg-5 {
    width: 41.66667%; }

  .g-offset-lg-5 {
    margin-left: 41.66667%; }

  .g-col-lg-6 {
    width: 50%; }

  .g-offset-lg-6 {
    margin-left: 50%; }

  .g-col-lg-7 {
    width: 58.33333%; }

  .g-offset-lg-7 {
    margin-left: 58.33333%; }

  .g-col-lg-8 {
    width: 66.66667%; }

  .g-offset-lg-8 {
    margin-left: 66.66667%; }

  .g-col-lg-9 {
    width: 75%; }

  .g-offset-lg-9 {
    margin-left: 75%; }

  .g-col-lg-10 {
    width: 83.33333%; }

  .g-offset-lg-10 {
    margin-left: 83.33333%; }

  .g-col-lg-11 {
    width: 91.66667%; }

  .g-offset-lg-11 {
    margin-left: 91.66667%; }

  .g-col-lg-12 {
    width: 100%; }

  .g-offset-lg-12 {
    margin-left: 100%; } }
.btn-skeleton {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  box-sizing: border-box; }
  .btn-skeleton:active, .btn-skeleton:hover {
    outline: none; }

.btn-skeleton--primary {
  color: #fff;
  background-color: #33c3f0; }

/*
font-family
 */
.ff--apple {
  font-family: Futura, PingFang SC, Lantinghei SC, Microsoft Yahei, sans; }
  .ff--apple button, .ff--apple input, .ff--apple textarea, .ff--apple select {
    font-family: Futura, PingFang SC, Lantinghei SC, Microsoft Yahei, sans; }

.ff--helvetica {
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif; }
  .ff--helvetica button, .ff--helvetica input, .ff--helvetica textarea, .ff--helvetica select {
    font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif; }

.ff--noto {
  font-family: Noto, "华文细黑", "Microsoft Yahei", Arial; }
  .ff--noto button, .ff--noto input, .ff--noto textarea, .ff--noto select {
    font-family: Noto, "华文细黑", "Microsoft Yahei", Arial; }

/*
font-size
 */
.fz--primary {
  font-size: 14px; }
  .fz--primary h1 {
    font-size: 32px; }
  .fz--primary h2 {
    font-size: 26px; }
  .fz--primary h3 {
    font-size: 22px; }
  .fz--primary h4 {
    font-size: 18px; }
  .fz--primary h5 {
    font-size: 16px; }
  .fz--primary h6 {
    font-size: 12px; }

/*
font-weight
 */
.fw--primary {
  font-weight: 300; }
  .fw--primary h1, .fw--primary h2, .fw--primary h3, .fw--primary h4, .fw--primary h5, .fw--primary h6 {
    font-weight: 100; }

/*
基本重置类
 */
.reset-normal body {
  margin: 0; }
.reset-normal input, .reset-normal button, .reset-normal select, .reset-normal textarea {
  outline: none; }

.u-imgr {
  width: 100%;
  max-width: 100%;
  height: auto; }

/*
link
 */
.u-a {
  color: #1eaedb;
  text-decoration: none; }
  .u-a:hover {
    color: #111;
    text-decoration: none; }

.u-aback {
  color: #111;
  text-decoration: none; }
  .u-aback:hover {
    color: #1eaedb;
    text-decoration: none; }

.u-areset {
  color: #111;
  text-decoration: none; }
  .u-areset:hover {
    color: #111;
    text-decoration: none; }

.c--primary {
  color: #111; }
  .c--primary h1, .c--primary h2, .c--primary h3, .c--primary h4, .c--primary h5, .c--primary h6 {
    color: #333; }

/*# sourceMappingURL=help.css.map */
