/*
breakpoint自适应屏幕分割值
sm: 小于该值，适应手机界面大小
md: 小于该值，使用平板等中等屏幕设备
lg: 小于该值，一般电脑屏幕
*/
$bp-maps:(sm:550px,md:1000px,lg:1400px);

/*
grid网格类所需变量
*/
$total-columns: 12 !default;
$col-lr-padding: 0 !default;  // 每一个网格左右的padding
$row-lr-padding:0 !default;  // 每一行左右的padding

/*
基础color类别
 */
 $base-primary-color:#1eaedb;
 $base-text-color:#333;

/*
基础font-size设置
 */
$base-size:14px;
$base-h-sizes:(h1:32px,h2:26px,h3:22px,h4:18px,h5:16px,h6:12px);

/*
font-family设置
 */
$ff-apple:Futura,PingFang SC, Lantinghei SC, Microsoft Yahei, sans;
$ff-helvetica:Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
$ff-noto:Noto,"华文细黑","Microsoft Yahei",Arial;
$ff-yahei:"Microsoft YaHei", arial, SimSun, 宋体;
