
// 基本重置类
.reset--primary {
	body {margin: 0;}
	input,button,select,textarea{outline:none;}
}

// 重置ngDialog
.reset--ngDialog {
	.ngdialog.ngdialog-theme-default .ngdialog-content {
		padding: 0;
		background-color: transparent;
	}
}
