/*
//position属性
*/
.f-pr{position: relative;}
.f-pa{position: absolute;}
.f-pf{position: fixed;}

/*
//display属性
//全加important
//无响应式(手机端优先)
*/
.f-di{display: inline!important;}
.f-dib{display: inline-block!important;}
.f-db{display: block!important;}
.f-dn{display: none!important;}
//.f-dit{display: inline-table!important;}
//.f-dt{display: table!important;}
//.f-dtr{display: table-row!important;}
//.f-dtc{display: table-cell!important;}

/*
//浮动与清除浮动
*/
.f-fl{float: left;}
.f-fr{float: right;}
.f-cf:before, .f-cf:after {content: "";display: table;}
.f-cf:after {clear: both;}
.f-cf {zoom: 1;}

/*
//高度与宽度的(百分比表示)
*/
//width
.f-w100{width: 100%;}
.f-w90{width: 90%;}
.f-w80{width: 80%;}
.f-w70{width: 70%;}
.f-w60{width: 60%;}
.f-w50{width: 50%;}
.f-w40{width: 40%;}
.f-w30{width: 30%;}
.f-w20{width: 20%;}
.f-w10{width: 10%;}
.f-w0{width: 0%;}
.f-wauto{width: auto;}
//height
.f-h100{height: 100%;}
.f-h50{height: 50%;}
.f-h0{height: 0%;}
.f-hauto{height: auto;}

/*
//margin padding
*/
//margin
//0em
.f-m0{margin: 0;}
.f-mt0{margin-top: 0;}
.f-mr0{margin-right: 0;}
.f-mb0{margin-bottom: 0;}
.f-ml0{margin-left: 0;}
//.5em
.f-m05{margin: .5em;}
.f-mt05{margin-top: .5em;}
.f-mr05{margin-right: .5em;}
.f-mb05{margin-bottom: .5em;}
.f-ml05{margin-left: .5em;}
//1em
.f-m1{margin: 1em;}
.f-mt1{margin-top: 1em;}
.f-mr1{margin-right: 1em;}
.f-mb1{margin-bottom: 1em;}
.f-ml1{margin-left: 1em;}
//padding
//0em
.f-p0{padding: 0;}
.f-pt0{padding-top: 0;}
.f-pr0{padding-right: 0;}
.f-pb0{padding-bottom: 0;}
.f-pl0{padding-left: 0;}
//.5em
.f-p05{padding: .5em;}
.f-pt05{padding-top: .5em;}
.f-pr05{padding-right: .5em;}
.f-pb05{padding-bottom: .5em;}
.f-pl05{padding-left: .5em;}
//1em
.f-p1{padding: 1em;}
.f-pt1{padding-top: 1em;}
.f-pr1{padding-right: 1em;}
.f-pb1{padding-bottom: 1em;}
.f-pl1{padding-left: 1em;}

/*
//font-size
*/
//px
.f-fz16 {font-size: 16px !important;}
.f-fz15 {font-size: 15px !important;}
.f-fz14 {font-size: 14px !important;}
.f-fz13 {font-size: 13px !important;}
.f-fz12 {font-size: 12px !important;}
//%
.f-fz100 {font-size: 100%;}
.f-fz90 {font-size: 90%;}
.f-fz80 {font-size: 80%;}
.f-fz70 {font-size: 70%;}
.f-fz60 {font-size: 60%;}

/*
//font-weight
*/
.f-fw100 {font-weight: 100 !important;}
.f-fw200 {font-weight: 200 !important;}
.f-fw300 {font-weight: 300 !important;}
.f-fw400 {font-weight: 400 !important;}
.f-fw500 {font-weight: 500 !important;}
.f-fw600 {font-weight: 600 !important;}
.f-fw700 {font-weight: 700 !important;}
/*
//color
*/
.f-c0{color: #000;}
.f-c3{color: #333;}
.f-c6{color: #666;}
.f-c9{color: #999;}
.f-cw{color: white;}
.f-cb{color: black;}
.f-cr{color:red;}

/*
//bg-color
*/
.f-bgw{background: white;}
.f-bgb{background: black;}
.f-bgr{background: red;}

/*
//text-align控制
*/
.f-tl{text-align: left;}
.f-tr{text-align: right;}
.f-tc{text-align: center;}

/*
//vertical控制
*/
.f-vt{vertical-align: top;}
.f-vb{vertical-align: bottom;}
.f-vm{vertical-align: middle;}
.f-v1{vertical-align: 1px;}

/*
//border-radius:0;
*/
.f-brflat{border-radius: 0 !important;}
// .f-br4{border-radius: 4px !important;}

/*
//border
*/
.f-bnone{border: none;}
.f-btest{border:1px solid #333;}
// .f-bt0 {border-top: none !important;}
// .f-br0 {border-right: none !important;}
// .f-bb0 {border-bottom: none !important;}
// .f-bl0 {border-left: none !important;}

/*
box-sizing
 */
.f-bscontent {box-sizing: content-box;}
.f-bsborder{box-sizing: border-box;}

/*
cursor
 */
.f-cdefault {
	cursor: default;
}
.f-cpointer{
	cursor: pointer;
}
.f-cnotallowed {
	cursor: not-allowed;
}

// overlow
.f-oauto {
	overflow: auto;
}
.f-ohidden {
	overflow: hidden;
}
.f-ovisible {
	overflow: visible;
}
