.g-row {
	width: 100%;
	padding-left: $row-paddingLR;
	padding-right: $row-paddingLR;
	&:before,&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
	zoom:1;
}
.g-col {
	position: relative;
	min-height: 1px;
  	padding-left:   $col-paddingLR;
  	padding-right:  $col-paddingLR;
  	float: left;
  	box-sizing:border-box;
  	background-clip: content-box;//注意这里，如果要有背景覆盖padding，请在内部生成div
}
//create normal col
@for $i from 1 through $total-columns {
	.g-col-#{$i} {
		width: percentage($i / $total-columns);
	}
	.g-offset-#{$i}{
		margin-left: percentage($i / $total-columns);
	}
}
//create responsive col
@each $bp-name,$bp-size in $bp-maps{
	@media (min-width:$bp-size){
		@for $i from 1 through $total-columns {
			.g-col-#{$bp-name}-#{$i} {
				width: percentage($i / $total-columns);
			}
			.g-offset-#{$bp-name}-#{$i} {
				margin-left: percentage($i / $total-columns);
			}
		}
	}
}

