@import "../var";
@import "../func/style";

.g-row {
	width: 100%;
	padding-left: $row-lr-padding;
	padding-right: $row-lr-padding;
	@extend .f-cf ;
}
.g-col {
	position: relative;
	min-height: 1px;
	padding-left: $col-lr-padding;
	padding-right: $col-lr-padding;
	float: left;
	box-sizing:border-box;
	background-clip: content-box;  // 注意这里，如果要有背景覆盖padding，请在内部生成div
}
// create normal col
@for $i from 1 through $total-columns {
	.g-col-#{$i} {
		width: percentage($i / $total-columns);
	}
	.g-offset-#{$i}{
		margin-left: percentage($i / $total-columns);
	}
}
// create responsive col
@each $bp-name,$bp-size in $bp-maps{
	@media (min-width:$bp-size){
		@for $i from 1 through $total-columns {
			.g-col-#{$bp-name}-#{$i} {
				width: percentage($i / $total-columns);
			}
			.g-offset-#{$bp-name}-#{$i} {
				margin-left: percentage($i / $total-columns);
			}
		}
	}
}
