
// ff
@mixin m-ff($ff){
	font-family: $ff;
	button,input,textarea,select {
		font-family: $ff;
	}
}
@mixin m-fz($fz,$hfz){
	font-size: $fz;
	@each $h,$size in $hfz {
		#{$h} {
			font-size: $size;
		}
	}
	input, textarea, select,button {
		font-size: $fz;
	}
}
@mixin m-fw($fw,$hfw){
	font-weight: $fw;
	h1,h2,h3,h4,h5,h6{font-weight: $hfw;}
	label {
		font-weight: $fw;
	}
	button {
		font-weight: $fw+100;
	}
}

//color
@mixin m-c($base-color,$h-color){
	color: $base-color;
	h1,h2,h3,h4,h5,h6{color: $h-color;}
}

//link
@mixin m-link($link-color,$link-hover-color:darken($link-color,5%)){
	color: $link-color;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: $link-hover-color;
		text-decoration: underline;
	}
}
