// a链接样式设置
@mixin m-link($link-color,$link-hover-color:darken($link-color,5%)){
	color: $link-color;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: $link-hover-color;
		text-decoration: underline;
	}
}

// 设置该类下所有子元素的font-family值
@mixin m-font-family($ff){
	font-family: $ff;
	button, input, textarea, select {
		font-family: $ff;
	}
}

// 设置该类下所有子元素的font-size属性
// 基本的font-size为`$fz`
// 标题的`font-size`为`$hfz`
@mixin m-font-size($fz,$hfz){
	font-size: $fz;
	button, input, textarea, select {
		font-size: $fz;
	}
	@each $h, $size in $hfz {
		#{$h} {
			font-size: $size;
		}
	}
}

// 设置border-radius
@mixin m-border-radius($radius) {  
    -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// 设置opacity
@mixin m-opacity($opacity) {  
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

// 设置多行显示省略号
@mixin m-text-ellipsis($line-number) {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line-number;
    -webkit-box-orient: vertical;
}